@use "../utilities" as u;
.landing-hero {
  width: 100vw;
  max-width: u.rem(850);

  @include u.breakpoint(medium) {
    width: 80vw;
    display: flex;

    flex-direction: column;
    align-items: center;
    background: white;
    padding: u.rem(16);
    gap: u.rem(16);
    border-radius: u.rem(16);
  }

  @include u.breakpoint(large) {
    max-height: u.rem(800);
    flex-direction: row-reverse;
  }
}

.hero-img {
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
  }

  @include u.breakpoint(large) {
    max-width: 50%;
  }
}

.mobile-image {
  display: initial;
  @include u.breakpoint(medium) {
    display: none;
  }
}

.tablet-image {
  display: none;

  @include u.breakpoint(medium) {
    display: initial;
  }
  @include u.breakpoint(large) {
    display: none;
  }
}

.desktop-image {
  display: none;

  @include u.breakpoint(large) {
    display: initial;
  }
}

.content {
  padding: u.rem(32) u.rem(24);
  display: flex;
  flex-direction: column;
  gap: u.rem(20);

  @include u.breakpoint(medium) {
    gap: u.rem(16);
  }
}

ul {
  padding: 0;
  list-style: none;
}

li {
  font-size: u.rem(16);
  line-height: 1.5;
  color: var(--color-blue-700);
  padding-left: u.rem(32);
  margin-bottom: u.rem(16);
  position: relative;
}

li::before {
  content: url("../../assets/images/icon-list.svg");
  left: 0;
  right: 0;
  position: absolute;
}
