:root {
  /* Primary */
  --color-primary-red: hsl(4, 100%, 67%);

  /* Neutral */
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-grey: hsl(0, 0%, 58%);
  --color-white: hsl(0, 0%, 100%);
}
